<% include partials/header.ejs %>

<div class = "container">
	<% if (infomsg.type == "E"){%>
	<div class="alert alert-danger">
		<div><i class="fas fa-exclamation-triangle"></i> Error</div>
		<strong><%= infomsg.msg%></strong>
	</div>		
	<%}else%>

	<% if (infomsg.type == "S"){%>
	<div class="alert alert-success">
		<div><i class="fas fa-check"></i> Success</div>
		<strong><%= infomsg.msg%></strong>
	</div>		
	<%}%>	
	
</div>

<% include partials/footer.ejs %>