<!DOCTYPE html>
<html>
<head>
	<title>Library Management</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
</head>
<body>
<div class = "container">
	<div class = "jumbotron">
		<h1>Library Management</h1>
	</div>


	<a href="/checkout"><button>Checkin</button></a>
	<a href="/checkin"><button>Checkout</button></a>

</div>
</body>
</html>