<% include ../partials/header.ejs %>
<div class = "container">
	<div class = "jumbotron bg-secondary text-white">
		<h1>Library Management - Pay Fines</h1>
	</div>
	<form action="/payfines" method ="POST">
		<input type="text" name="search" placeholder="Search" class = "search">
		<input type="submit" name="submit" class="btn btn-primary">
	</form>
	<% if (SearchResults !== undefined && SearchResults.length != 0) {	%>
		<table class = "table table-striped">
			<thead class = "bg-secondary text-white">
				<tr>
					<th>Card ID</th>
					<th>Borrower Name</th>
					<th>Fine Amount</th>
					<th class = "button-head">Pay Fine</th>
				</tr>
			</thead>
			<tbody>
				<% SearchResults.forEach(function(SearchResult){ %>
					<tr>
						<td><%= SearchResult.card_id %></td>
						<td><%= SearchResult.bname %></td>
						<td><%= SearchResult.fine_amt %></td>
						<% var link = "/payfines/"+ SearchResult.card_id %>
						<td><a href= <%=link%> ><button class ="btn btn-secondary">Pay Now</button></a></td>
					</tr>
				<% }); %>

			</tbody>
		</table>	
	<% } %>		
	<% if (SearchResults !== undefined && SearchResults.length == 0) {	%>	
	<h3>No rows found</h2>
	<% } %>	
</div>
<% include ../partials/footer.ejs %>