<% include ../partials/header.ejs %>
<div class = "container">
	<div class = "jumbotron bg-secondary text-white">
		<h1>Checkout counter</h1>
	</div>
	<% var link = "/checkout/"+isbn; %>
	<form action= <%=link%> method ="POST">
		<input type="text" name="cardid" placeholder="Borrower Card Id">
		<button name="checkout" type="submit" class ="btn btn-primary">Checkout</button>
	</form>
</div>
<% include ../partials/footer.ejs %>