<!DOCTYPE html>
<html>
<head>
	<title>Library Management</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
</head>
<body>
<div class = "container">
<h1>Hello there</h1>

<table>
	<thead>
		<tr>
			<th>ISBN</th>
			<th>Book title</th>
			<th>Book author(s)</th>
			<th>Available</th>
		</tr>
	</thead>
	<tbody>
		<% SearchResults.forEach(function(SearchResult){ %>
			<tr>
				<td><%= SearchResult.Isbn %></td>
				<td><%= SearchResult.Title %></td>
				<td><%= SearchResult.Authors %></td>
				<td></td>
				<% var link = "/checkout/"+ SearchResult.Isbn %>
				<td><a href= <%=link%> ><button>checkout</button></a></td>
			</tr>
		<% }); %>

	</tbody>
</table>
</div>
</body>
</html>


